### Загрузка библиотек

In [1]:
from scipy.stats import ttest_1samp
import numpy as np
import pandas as pd
import math

from scipy.stats import norm, t, kstest, shapiro
import statsmodels.api as sm
from matplotlib import pyplot as plt


import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [2]:
# data = pd.read_csv('a_b test ecom - ab_test 2.csv')

In [3]:
data = pd.read_csv('gb_sem_9_cw.csv')

In [4]:
data.head(10)

       id     time  con_treat      page  converted
0  851104  11:48.6    control  old_page          0
1  804228  01:45.2    control  old_page          0
2  661590  55:06.2  treatment  new_page          0
3  853541  28:03.1  treatment  new_page          0
4  864975  52:26.2    control  old_page          1
5  936923  20:49.1    control  old_page          0
6  679687  26:46.9  treatment  new_page          1
7  719014  48:29.5    control  old_page          0
8  817355  58:09.0  treatment  new_page          1
9  839785  11:06.6  treatment  new_page          1

In [5]:
z= data.time

In [6]:
c1 = data.converted.sum()
c1

35237

In [7]:
c2 = data["converted"].value_counts()
c2

0    259241
1     35237
Name: converted, dtype: int64

In [8]:
c3 = data["con_treat"].value_counts()
c3

treatment    147276
control      147202
Name: con_treat, dtype: int64

In [9]:
data_control = data[data["con_treat"] == 'control']

In [10]:
data_control.head(5)

       id     time con_treat      page  converted
0  851104  11:48.6   control  old_page          0
1  804228  01:45.2   control  old_page          0
4  864975  52:26.2   control  old_page          1
5  936923  20:49.1   control  old_page          0
7  719014  48:29.5   control  old_page          0

In [11]:
data_treatment = data[data["con_treat"] == 'treatment']
data_treatment.head(5)

       id     time  con_treat      page  converted
2  661590  55:06.2  treatment  new_page          0
3  853541  28:03.1  treatment  new_page          0
6  679687  26:46.9  treatment  new_page          1
8  817355  58:09.0  treatment  new_page          1
9  839785  11:06.6  treatment  new_page          1

In [12]:
a=np.array(data.converted)
print(np.sum(a==1))

35237